.product-image {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.product-card {
  position: relative;
  width: 900px;
  margin-top: 4vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: white;
}

.controls {
  right: 0;
  margin-top: 30px;
}

.control-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: white;
  opacity: 0.6;
  font-size: 1.4em;
  border-radius: 0 0 0 8px;
  transition-duration: 200ms;
  &:hover {
    color: white;
    opacity: 0.9;
    transition-duration: 200ms;
    text-decoration: none;
  }
}

.delete-icon {
  background-color: rgba(250, 0, 0, 0);
  &:hover {
    background-color: rgba(250, 0, 0, 0.8);
  }
}

.edit-icon {
  background-color: rgba(250, 0, 0, 0);
  &:hover {
    background-color: rgba(0, 250, 100, 0.8);
  }
}

.product-details {
  position: relative;
  padding: 8px 24px;
  h2 {
    margin: 0;
    text-align: center;
  }
}

.boat-tags {
  position: absolute;
  bottom: -17px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: start;
}

.boat-tag {
  margin-top: 16px;
  align-items: center;
  display: flex;
  font-size: 1.3em;
  i {
    font-size: 20px;;
    color: #31588A;
    margin-right: 8px;
  }
}

.product-details {
  p {
    margin-left: 16px;
    font-size: 1.2em;
  }
}

.boat-title-show {
  color: #31588A;
  padding-top: 5px;
  margin-top: 40px;
  font-size: 20px;
  border: black;
  text-align: center;
}

.brand-category-capacity {
  i {
    font-size: 1.4em;
    color: #31588A;
    margin-right: 8px;
  }
}

.back-btn {
  margin-left: 20px;
  position: fixed;
  margin-top: 20px;
  font-size: 20px;
}

.btn {
  background-color: RGBA(255,255,255,0.5);
  border: none;
}

.info-inline {
  display: flex;
  justify-content: space-evenly;
}

.brand-category {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  border: black;
}

.map-non-sticky {
  width: 40%;
  height: 300px;
}

.form-inline .datepicker {
  width: 150px;
  margin: 10px 5px;
}
