.boats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.boats-map-container {
  display: flex;
  flex-wrap: wrap;
  #map {
    // flex-grow: 1;
    min-width: 300px;
    flex: 1;
  }
  .boats {
    min-width: 300px;
    flex: 2;
  }
}

.card-link {
  margin-left: 0 !important;
}
