.boats {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  // align-items: center;
  // justify-content: center;
}

.boats-map-container {
  display: flex;
  flex-wrap: wrap;
  #map {
    // flex-grow: 1;
    min-width: 300px;
    flex: 1;
  }
  .boats {
    min-width: 300px;
    flex: 2;
  }
}

.card-link {
  margin: 0 8px 8px 0 !important;
  flex: 1;
}

.mapboxgl-marker {
  cursor: pointer;
}

.form-search-boats {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  #query {
    border-radius: 4px;
  }
  #search-btn {
    background-color: #31588A;
    margin-left: 8px;
  }
}
