.flex-container-col {
  display: flex;
  flex-direction: column;
}

.card-link {
  text-decoration: none;
  color:#0E0000;
  margin: 0 !important;
  &:hover {
    text-decoration: none;
    color:#0E0000;
  }
}

.card-booking {
  display: flex;
  background-color: white;
  margin-bottom: 16px;
  border-radius: 6px;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.1);
  .card-image {
    height: 140px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .card-details {
    padding: 8px 16px;
    flex-grow: 1;
    width: 500px;
    p {
      padding-left: 16px;
    }
  }
  .right-chevron {
    width: 8%;
    background-color: #31588A;
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    border-radius: 0 6px 6px 0;
    i {
      font-size: x-large;
      color: white;
    }
  }
  &:hover .right-chevron {
    opacity: 0.8;
    transition-duration: 200ms;
  }
}

.status {
  width: 110px;
  border-radius: 20px;
  text-align: center;
}

.filterDiv {
  float: left;
  background-color: #31588A;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.show {
  display: block;
}

.category-btn {
  .btn:hover {
    background-color: #ddd
  }
  /* Add a dark background to the active button */
  .btn.active {
   background-color: #666;
    color: white;
  }
}

/* Add a dark background to the active button */
.btn.active {
  background-color: rgba(144, 178, 228, 0.3);
  color: white;

  h4 {
  color: #31588A;
}
