.booking-create {
  justify-content: center;
  align-items:center;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  padding: 14px;
  height: 70%;
}

.form-inline div {
  display: inline-block
}

.research-bar {
  display: flex;
  justify-content: flex-end;
}

.boat-choice {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center
}

.buttonHolder{ text-align: center; }

.boat-selected {
  margin: 20px auto;
}

.general-info {
  position: absolute;
}

#booking-dates-right {
  text-align: right;
  margin-right: 20px;
}
