// Specific CSS for your home-page
.navbar-lewagon {
  justify-content: space-between;
  background: #75cff0;
}

.brand {
  height: 60px;
  margin: 5px auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
