body {
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
  height: 10vh;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 7;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px;
  padding: 0 20px;
  margin-top: 50px;
}

.booking-form {
  border-radius: 5px;
  background-color: RGBA(226,185,55,0.65);
  text-align: center;
  margin: 10px 0;
  padding: 18px;
  height: 420px;
  width: 390px;
}

.form-control {
  margin: 15px 0;
}

.booking-form button {
  padding: 50px 0;
}

.boat-type, .date-booking {
  display: flex;
  justify-content: space-around;
}

.title-card-reservation {
  color: white;
  text-shadow: 1px 1px 2px grey;
  font-size: 20px;
}

.date-left {
  text-align: left;
}

.banner-title {
  text-shadow: 1px 1px 2px grey;
  font-size: 30px;
  padding: 0 40px;
}

.title-cards {
  text-align: center;
  margin-top: 20px;
}

.cards {
  display: flex;
  justify-content: center;
}
.card {
  // position: relative;
  width: 300px;
  height: 300px;
  background-size: cover;
  text-align: center;
  text-shadow: 1px 1px 2px grey;
  color: white;
  margin: 30px 30px;
  border-radius: 3px;
  border: none;
}

.card h2 {
  margin: inherit;
}

.cards :hover {
  .card {
    box-shadow: 1px 1px 2px grey;
  }
  text-decoration: none;
  transform: scale(1.03);
}

.footer{
  background: #e4e4e4;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin: 40px 0 0 0;
}

.social-networks-footer a {
    color: #2d578b;
  }

.social-networks-footer a :hover {
      font-size: 20px;
      color: #ebd079;
  }

.social-networks-footer ul {
  display: flex;
  justify-content: center;
  padding: 20px;
  white-space: break-spaces;
}

.input-date {
  padding: revert;
}

