.title-new {
  color: #31588A;
  margin: 20px;
}

.container h1 {
  text-align: center;
}

.form {
  color: #31588A;
  text-align: center;
}

.third-row div {
  margin-right: 78px;
}

.buttons div {
  margin: 10px 40px;
}

.buttons {
  margin-left: 360px;
}

.form-fields {
  text-align: center;
  a {
    width: 50px;
  };
  .form-group {
    width: 250px;
    margin: 0 auto;
  };
}

.form .description {
    width: 400px;
    margin: 0 auto;
  }

#boat_photo {
    width: 500px;
    margin: 0 auto;
    padding-left: 120px;
  };
