h1 {
  margin: 20px;
}

.container h1 {
  text-align: center;
}

.form {
  color: #31588A;
}

.third-row div {
  margin-right: 78px;
}

.buttons div {
  margin: 10px 40px;
}

.buttons {
  margin-left: 360px;
}
