h1 {
  font-family: ‘Noto Sans JP’, sans-serif;
  color: #2d578b;
  margin: 20px 0px 20px 40px;
  font-size: 30px;
}

.big-title {
  color: #2d578b;
  text-align: center;
}

.boat-title-show {
  text-align: center;
  color: #31588A;
  margin: 40px auto;
  font-size: 20px;
  border-bottom: solid 0.001px #31588A;
  margin: 30px 107px;
}
