<h3>Make a new booking</h3>
<%= simple_form_for [@boat, @booking] do |f| %>
  <%= f.input :start_date, as: :date, placeholder: 'Start date' %>
  <%= f.input :end_date, as: :date, placeholder: 'End date' %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
