<!-- FOOTER -->
    <div class="footer">
      <img src = "https://upload.wikimedia.org/wikipedia/commons/8/80/Travel_boat_blue_logo.png" id = "logo" width="60" height="60">
    <ul class = "list-inline">
      <li> <a href = "#"><i class="fa fa-facebook" aria-hidden="false"></i></a></li>
      <li> <a href = "#"><i class="fa fa-twitter" aria-hidden="false"></i></a></li>
      <li> <a href = "#"><i class="fa fa-youtube" aria-hidden="false"></i></a></li>
      <li> <a href = "#"><i class="fa fa-instagram" aria-hidden="false"></i></a></li>
     </ul>
   </div>
