<!-- BANNER & INFO FORM-->
<div class = "banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://book2sail.com/wp-content/uploads/2020/04/sailboat-1200x900.jpg)">
  <div class="booking-form">
    <div class="title-card-reservation">
      <h1 id="title-landing-page-form">What's the next adventure?</h1>
    </div>
    <input type="search" placeholder="Where do you want to rent a boat?" autocomplete="neverautocomplete" class="form-control">
    <div class="boat-type">
      <input type="submit" value="ðŸš¤ Motorboat" autocomplete="neverautocomplete" class="form-control home-input-search">
      <input type="submit" value=" â›µï¸ Sailboat" autocomplete="neverautocomplete" class="form-control home-input-search">
    </div>

    <a href="/boats" class="button-search-booking" style="text-decoration: none; border: #ced4da">
      <div>
        <input type="submit" value="Search" class="form-control home-input-search">
      </div>
    </a>
  </div>
  <div class="banner-title">
    <p>
      Sail whenever you want, wherever you want
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<!-- CARDS -->
<div class="big-title mt-3">
  <h1>FAMOUS LOCATIONS</h1>
</div>

<div class="cards">
  <a href="/boats">
    <div class="card" style="background-image: url(https://www.croisiera.com/upload/parcours/grandes/27.jpg)">
      <h2>CORSICA</h2>
    </div>
  </a>
  <a href="/boats">
    <div class="card" style="background-image: url(https://www.wiztopic.com/file/cntb7a1eoy-phpbgfwcs)">
      <h2>SARDAIGNE</h2>
    </div>
  </a>
  <a href="/boats">
    <div class="card" style="background-image: url(https://www.santarelli-marine.fr/photo/diapo1/7/_santarelli_marine_location_et_vente_de_bateaux_1108220190820173124_450xautox70.jpg)">
      <h2>ROYAN</h2>
    </div>
  </a>
</div>
<div class="cards">
  <a href="/boats">
    <div class="card" style="background-image: url(https://www.raviday.com/blog/wp-content/uploads/2019/04/kayak-provence.jpg)">
      <h2>MARSEILLE</h2>
    </div>
  </a>
  <a href="/boats">
    <div class="card" style="background-image: url(https://www.easyjet.com/ejcms/cache/medialibrary/Images/JSS/Destinations/Hero/Spain_Ibiza_3840x2160.jpg?mw=1920&hash=FCA5B918A953AADB7A15B210ACA1BF1DF05717A4)">
      <h2>IBIZA</h2>
    </div>
  </a>
</div>
