<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
  <body>
<!-- NAV BAR -->

<!-- BANNER -->
    <div class = "banner">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://book2sail.com/wp-content/uploads/2020/04/sailboat-1200x900.jpg)">
<!--         <div>
          <h1>Sail me!</h1>
        </div> -->
        <div>
          <p>Sail whenever you want, wherever you want</p>
        </div>
      </div>
    </div>
<!-- INFO FORM -->
    <div class="container">
      <h1>Book a boat here</h1>

    </div>

  </body>
</html>
