<!-- BANNER & INFO FORM-->
      <div class = "banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://book2sail.com/wp-content/uploads/2020/04/sailboat-1200x900.jpg)">
        <div class="booking-form">
          <div class="title-card-reservation">
            <h1>What's the next adventure?</h1>
          </div>
          <input type="search" placeholder="Where do you want to rent a boat?" autocomplete="neverautocomplete" class="form-control">
          <div class="boat-type">
            <input type="submit" value="ðŸš¤ Motorboat" autocomplete="neverautocomplete" class="form-control home-input-search">
            <input type="submit" value=" â›µï¸ Sailboat" autocomplete="neverautocomplete" class="form-control home-input-search">
          </div>

          <div class="date-booking">
            <div class="date-left">
              <div class="input-date">
              <%= simple_form_for :search, method: "get" do |f| %>
                  <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                <% end %>
              </div>
            </div>
            <div class="date-left">
              <div class="input-date">
              <%= simple_form_for :search, method: "get" do |f| %>
                  <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                <% end %>
              </div>
            </div>
          </div>
            <a href="/boats"><button type="submit" class="btn-search"> Search </button></a>
          </div>
          <div class="banner-title">
            <p>Sail whenever you want, wherever you want</p>
          </div>
      </div>

  <!-- CARDS -->
      <div class="big-title">
        <h1>FAMOUS LOCATIONS</h1>
      </div>

      <div class="cards">
        <a href="/boats">
          <div class="card" style="background-image: url(https://www.croisiera.com/upload/parcours/grandes/27.jpg)">
            <h2>CORSICA</h2>
          </div>
        </a>
        <a href="/boats">
          <div class="card" style="background-image: url(https://www.wiztopic.com/file/cntb7a1eoy-phpbgfwcs)">
            <h2>GREECE</h2>
          </div>
        </a>
      <a href="/boats">
        <div class="card" style="background-image: url(https://www.santarelli-marine.fr/photo/diapo1/7/_santarelli_marine_location_et_vente_de_bateaux_1108220190820173124_450xautox70.jpg)">
          <h2>BRITANY</h2>
        </div>
      </a>
      </div>
      <div class="cards">
        <a href="/boats">
          <div class="card" style="background-image: url(https://www.epaillote.com/project/resources/img/original/ilescaraibes.png)">
            <h2>CARIBBEAN</h2>
          </div>
        </a>
        <a href="/boats">
        <div class="card" style="background-image: url(https://www.easyjet.com/ejcms/cache/medialibrary/Images/JSS/Destinations/Hero/Spain_Ibiza_3840x2160.jpg?mw=1920&hash=FCA5B918A953AADB7A15B210ACA1BF1DF05717A4)">
          <h2>IBIZA</h2>
        </div>
        </a>
    </div>
