title {
  font-size: 32px !important;
}

.boat-card {
  color: rgb(50,50,50);
  // font-size: 24px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  min-width: 300px;
  max-width: 350px;
  position: relative;
  &:hover {
    .boat-availability {
      opacity: 1;
    }
  }
}

.boat-details {
  position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  font-size: 14px;
  padding: 5px 10px;
  // color: #31588A;
  i {
    font-size: 1em;
    color: #31588A;
    margin-right: 4px;
  }
  p {
    margin: 0;
  }
}

.boat-image {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 100%;
  // color: white;
}

.card-link {
  text-decoration: none;
  margin: 5px;
  margin-left: 0 !important;
}

.boat-title {
  font-size: 16px;
}

.item-tags {
  position: absolute;
  bottom: 8px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: start;
}

.boat-availability {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
  border-radius: 16px;
  padding: 0 8px;
  font-size: 10px;
  opacity: 0.7;
}

.available {
  background-color: lightgreen;
}

.unavailable {
  background-color: lightcoral;
}

#map {
  position: -webkit-sticky;
  position: sticky;
  top: 66px;
}
